body {
    background: #F2D298;
}
img {
    max-width:100%;
}
.quitar-float {
    float: none;
}
.espacio-arriba {
    margin-top: 5%;
}
.pacifico {
    font-family: 'Fredoka One', cursive;
}
.lato {
    font-family: 'Lato', sans-serif;
}
.grande {
    font-size: 4em;
}
.gris {
    color:#595959;
}
.marron {
    color:#722002
}
.beig {
    color: #BFAC95;
}
.black {
    color: black;
}
.espacio-derecha {
    margin-right:1em;
}
.no-lista {
    margin: 1px;
    padding: 1px;
}
.inline-block {
    float:none;
    display:inline-block;  
    margin:-8px;
}
.no-lista li {
   list-style-type:none;
}
.vete-arriba{
    vertical-align:top;
}
.retardo{
    -moz-animation-delay:1s;
    -webkit-animation-delay:1s;
    animation-delay:1s;
}

